<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mapping.userMapper">
    <insert id="addUser" parameterType="com.zhong.pojo.User" useGeneratedKeys="true" keyProperty="id"> 
        insert into users(name,age,id) values(#{name},#{age},#{id})  
    </insert>
    <delete id="deleteUser" parameterType="string">
        delete from users where id=#{id}
    </delete>
    <update id="updateUser" parameterType="com.zhong.pojo.User" >
        update users set name=#{name},age=#{age} where id=#{id}
    </update>
    <select id="getUser" parameterType="string" resultType="com.zhong.pojo.User">
        select * from users where id = #{id}
    </select>
</mapper>